* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    box-shadow:2px 2px 8px black;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

/*Div pai do label e do icone de help*/
.labelDoInput{
    display: flex;
    /*position:relative;*/
    transition:all 0.3s;
}

.labelDoInput i{
    margin-left:5px;
    cursor:pointer;
}

.labelDoInput i:hover{
    transform:scale(0.8);
    color:green;    
}

/*Div pai que abriga os input's meta e receita*/
.divDoInput{
    position:relative;
    display:flex;
    align-items: center;
}

.divDoInput input{
    padding-right:30px;
}


.divDoInput i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #999;
}
/*---------------------------------------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

h2 {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}

span {
    font-weight: bold;
    color: #ff5733;
}